---
name: Form Groups
description: TKTK
order: 2
links:
    Input groups demo: /demos/forms/groups.html
---

<form class="mzp-c-form">
  <fieldset class="mzp-c-form-set">
    <legend class="mzp-c-form-heading">Single column full width</legend>
    <div class="mzp-c-form-group mzp-l-form-group-full">
      {{#embed "patterns.molecules.forms.fields.input" id="fw1" type="text"}}{{/embed}}
    </div>
  </fieldset>

  <div class="mzp-c-form-heading">Half</div>
  <div class="mzp-c-form-group mzp-l-form-group-half">
    {{#embed "patterns.molecules.forms.fields.input" id="fp1" type="text"}}{{/embed}}
    {{#embed "patterns.molecules.forms.fields.input" id="fp2" type="text"}}{{/embed}}
  </div>

  <fieldset class="mzp-c-form-set">
    <legend class="mzp-c-form-heading">Third</legend>
    <div class="mzp-c-form-group mzp-l-form-group-third">
      {{#embed "patterns.molecules.forms.fields.input" id="ft4" type="text" msg="msg"}}{{/embed}}
      {{#embed "patterns.molecules.forms.fields.input" id="ft5" type="text" msg="msg"}}{{/embed}}
      {{#embed "patterns.molecules.forms.fields.select" id="ft6" msg="msg"}}{{/embed}}
    </div>
  </fieldset>

  <fieldset class="mzp-c-form-set">
    <legend class="mzp-c-form-heading">Quarter</legend>
    <div class="mzp-c-form-group mzp-l-form-group-quarter">
      {{#embed "patterns.molecules.forms.fields.input" id="q5" type="text"}}{{/embed}}
      {{#embed "patterns.molecules.forms.fields.input" id="q6" type="text"}}{{/embed}}
      {{#embed "patterns.molecules.forms.fields.input" id="q7" type="text"}}{{/embed}}
      {{#embed "patterns.molecules.forms.fields.input" id="q8" type="text"}}{{/embed}}
    </div>
  </fieldset>

  <div class="mzp-c-form-group mzp-l-form-group-datetime">
    {{#embed "patterns.molecules.forms.fields.input" id="dt1" type="date"}}{{#content "label"}}Date{{/content}}{{/embed}}
    {{#embed "patterns.molecules.forms.fields.input" id="dt2" type="time"}}{{#content "label"}}Time{{/content}}{{/embed}}
  </div>

  <fieldset class="mzp-c-form-set">
    <legend class="mzp-c-form-heading">Special groups</legend>
    <div class="mzp-c-form-group mzp-l-form-group-datetime">
      {{#embed "patterns.molecules.forms.fields.input" id="dt1" type="date"}}{{#content "label"}}Date{{/content}}{{/embed}}
      {{#embed "patterns.molecules.forms.fields.input" id="dt2" type="time"}}{{#content "label"}}Time{{/content}}{{/embed}}
    </div>

    <fieldset class="mzp-c-form-set">
      <legend class="mzp-c-form-label">Expiry</legend>
      <div class="mzp-c-form-group mzp-l-form-group-expiry">
        {{#embed "patterns.molecules.forms.fields.input" id="f7" type="text"}}
          {{#content "label"}}
            Month
          {{/content}}
          {{#content "attrs"}}
            maxlength="2" size="2"
          {{/content}}
        {{/embed}}
        <div class="mzp-c-form-group-spacer">/</div>
        {{#embed "patterns.molecules.forms.fields.input" id="f8" type="text"}}
          {{#content "label"}}
            Year
          {{/content}}
          {{#content "attrs"}}
            maxlength="2" size="2"
          {{/content}}
        {{/embed}}
      </div>
    </fieldset>
  </fieldset>
</form>
