---
name: Form Row
description: TKTK
order: 2
links:
    Input rows demo: /demos/forms/rows.html
---

<form class="mzp-c-form">
  <fieldset class="mzp-c-form-set">
    <legend class="mzp-c-form-heading">Row</legend>
    <div class="mzp-c-form-row">
      {{#embed "patterns.molecules.forms.fields.input" id="br1" type="text" msg="msg"}}{{#content "attrs"}}maxlength="10" size="10"{{/content}}{{/embed}}
      {{#embed "patterns.molecules.forms.fields.textarea" id="br2" msg="msg"}}{{#content "attrs"}}cols="10"{{/content}}{{/embed}}
      {{#embed "patterns.molecules.forms.fields.select" id="br3" type="text" msg="msg"}}{{/embed}}
      {{#embed "patterns.molecules.forms.fields.choice" id="br4" type="checkbox" is-legal="true" msg="You must agree to our privacy notice to continue."}}{{#content "label"}}I’m okay with Mozilla handling my info as explained in <a href="/en-US/privacy/websites/">this Privacy Notice</a>{{/content}}{{/embed}}
    </div>
    <div class="mzp-c-form-msg">msg</div>
  </fieldset>

  <fieldset class="mzp-c-form-set">
    <legend class="mzp-c-form-heading">row</legend>
    <div class="mzp-c-form-row">
      {{#embed "patterns.molecules.forms.fields.input" id="br1" type="text" msg="msg"}}
        {{#content "label"}}Card Number{{/content}}
        {{#content "attrs"}}maxlength="19" size="19"{{/content}}
      {{/embed}}
      <fieldset class="mzp-c-form-set">
        <legend class="mzp-c-form-label">Expiry</legend>
        <div class="mzp-c-form-group mzp-l-form-group-expiry">
          {{#embed "patterns.molecules.forms.fields.input" id="f7" type="text" msg="Please enter two digits for the month."}}
            {{#content "label"}}
              Month
            {{/content}}
            {{#content "attrs"}}
              maxlength="2" size="2"
            {{/content}}
          {{/embed}}
          <div class="mzp-c-form-group-spacer">/</div>
          {{#embed "patterns.molecules.forms.fields.input" id="f8" type="text" msg="msg"}}
            {{#content "label"}}
              Year
            {{/content}}
            {{#content "attrs"}}
              maxlength="2" size="2"
            {{/content}}
          {{/embed}}
        </div>
      </fieldset>
      {{#embed "patterns.molecules.forms.fields.input" id="br1" type="text"}}
        {{#content "label"}}CCV{{/content}}
        {{#content "attrs"}}maxlength="3" size="3"{{/content}}
      {{/embed}}
      {{#embed "patterns.molecules.forms.fields.input" id="br1" type="text"}}
        {{#content "label"}}Zip Code{{/content}}
        {{#content "attrs"}}maxlength="5" size="5"{{/content}}
      {{/embed}}
    </div>
  </fieldset>
</form>
